@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

.nav-bar-container {
    display: flex;
    flex: initial;
    align-items: center;
    justify-content: center;
    background-image: url("../img/wood.jpg");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: center center;

}

.nav-bar {
    margin: 1.5rem;
    font-size: 25px;
    align-items: center;
    color: white;
    font-family: "Eagle Lake", serif;

}
.nav-bar:hover {
    color: black;
    font-style: italic;
}
.rule {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: red;
    text-align: center;
    background-image: url("../img/oldPaper.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 400px;
    position: fixed;

}
.main_board {
    height: 100%;
    overflow-y: auto;
    position: relative;
    padding: 20px;
    margin-bottom: 65px;

}
html{
    background-image: url("../img/doom_background.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: center center;
    background-color: #552206;
}
.posted {
    text-align: left;
    font-size: 35px;
    background-image: url("../img/posted_paper.png");
    background-repeat: repeat-y;
    background-size: 50% 100%;
    padding: 15px 25%;
    background-position: center center;
    overflow-y: auto;
    position: relative;
}

.posting{
    resize: none;
    field-sizing: content;
    position: fixed;
    bottom: 0;
    z-index: 100;
    text-align: center;
    background-position: center center;
    margin: 15px 25%;
    padding: 15px;
    background-image: url("../img/posted_paper.png");
    background-repeat: no-repeat;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    background-size: 100% 100%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    border-radius: 15px;
}
.posting:focus{
    width: 50%;
    height: 200px;
}
html, main {
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.login_signUp{
    font-family: "Eagle Lake", serif;
    text-align: center;
    font-size: 35px;
    background-image: url("../img/posted_paper.png");
    background-repeat: repeat-y;
    background-size: 50% 100%;
    padding: 15px 25%;
    background-position: center center;
    overflow: auto;
    position: relative;
}
input[type=text], input[type=password] {
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background-position: center center;
    background-image: url("../img/posted_paper.png");
    border: 5px solid white;
    align-items: center;
    border-radius: 15px;
}

button{
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    background-image: url("../img/wood.jpg");
    color: white;
    font-size: 30px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 15px;
}
.putin{
    font-weight: 400;
    background-image: url("../img/wood.jpg");
    color: white;
    font-size: 30px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 15px;
}
.seb{
    position: fixed;
    bottom: 0;
    z-index: 100;
    text-align: center;
    background-position: center center;
    margin: 15px 18%;
    background-repeat: no-repeat;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    color: #9A2BFF;
}
:root {
    --user-chosen-color: #ff0000;
}

.element-to-style {
    background-color: var(--user-chosen-color);
    color: var(--user-chosen-color); /* Example usage */
}
#colorPickerCanvas {
    border-radius: 50%;
    cursor: crosshair;
}

#selectedColorSwatch {
    margin-top: 10px;
}
