@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

.nav-bar-container {
    display: flex;
    flex: initial;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    margin: 1.5rem;
    font-size: larger;
    align-items: center;
}
.rule {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: red;
    text-align: center;
    background-image: url("../img/oldPaper.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 400px;
    position: fixed;

}
.main_board {
    margin: 0;
    height: 100%;
    overflow-y: auto;
    position: relative;
    padding: 20px;
}
html{
    background-image: url("../img/doom_background.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: center center;
    background-color: #552206;
}
.posted {
    text-align: left;
    font-size: 35px;
    background-image: url("../img/posted_paper.png");
    background-repeat: repeat-y;
    background-size: 50% 100%;
    padding: 15px 25%;
    background-position: center center;
    overflow-y: auto;
    position: relative;
}
.posting{
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: red;
    text-align: center;
    background-image: url("../img/post_paper.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 400px;
    position: fixed;
}
/*footer {*/
/*    position: fixed; !* Fix the footer's position relative to the viewport *!*/
/*    bottom: 0; !* Align to the bottom of the viewport *!*/
/*    left: 0; !* Align to the left of the viewport *!*/
/*    width: 100%; !* Make the footer span the full width *!*/
/*    !* Other footer styles like background-color, padding, z-index if needed *!*/
/*    z-index: 100; !* Ensure the footer appears above other content *!*/
/*}*/
html, main {
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
