@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

.nav-bar-container {
    display: flex;
    flex: initial;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    margin: 1.5rem;
    font-size: larger;
    align-items: center;
}
.rule {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: red;
    text-align: center;
    background-image: url("../img/oldPaper.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 400px;
    position: fixed;

}
.main_board {
    margin: 0;
    height: 100%;
    overflow-y: auto;
    position: relative;
    padding: 20px;
}
html{
    background-image: url("../img/doom_background.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: center center;
    background-color: #552206;
}
.posted {
    text-align: left;
    font-size: 35px;
    background-image: url("../img/posted_paper.png");
    background-repeat: repeat-y;
    background-size: 50% 100%;
    padding: 15px 25%;
    background-position: center center;
    overflow-y: auto;
    position: relative;
}

.posting{
    position: fixed;
    bottom: 0;
    z-index: 100;
    text-align: center;
    background-position: center center;
    margin: 15px 25%;
    padding: 15px;
    background-image: url("../img/posted_paper.png");
    background-repeat: no-repeat;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    background-size: 100% 100%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    border-radius: 15px;
}
html, main {
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.login_signUp{
    font-family: "Eagle Lake", serif;
    text-align: left;
    font-size: 35px;
    background-image: url("../img/posted_paper.png");
    background-repeat: repeat-y;
    background-size: 50% 100%;
    padding: 15px 25%;
    background-position: center center;
    overflow: auto;
    position: relative;
}
